@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@300;400;500;600&family=Roboto&display=swap');

html,
body,
#back,
.app{
 
    font-family: 'Inter', sans-serif;
    color: white;
      height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.link{
  
  text-decoration: none;
  transition: 0.5s;
color: white;
}

.link:hover{
  color: aqua;
}

.slick-slide > div{
  margin: 0 15px ;
  justify-content: center;
  display: flex;
}

.cardService{
  transition: 1s;

}

.cardWeb:hover{
  width: 400px;
  height: 450px;
  transform: rotateX(10deg) rotateZ(-5deg);
  transition: 0.5s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  filter: none;
}



.contentCardWeb:hover{
    display: block;
  background:linear-gradient(146deg, rgba(2,0,36,0) 47%, rgba(189,37,37,0.7353114438860604) 66%, rgba(189,37,37,1) 74%);
  display: block;

}


.video{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%); /* Centra el video */
  z-index: -1;
}
